* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 1349px;
}
.maincontainer{
    width: 100%;
}
#subheader{
    font-weight: 500;
    font-size: 2vh;
    color: white;
}
#subheader a{
    float: right;
    padding-right: 25px;
    color: white;
    text-decoration: none;
}
#subheader p {
    padding-left: 25px;
}
/* Main Header */
#mainheader {
    display: flex;
    flex-wrap: wrap;
}
#logo {
    width: 230px;
    /* background: black; */
    padding: 15px 25px 20px 35px;
    /* padding-left: 25px;  */
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: black;
}
#searchbar {
    padding-top: 28px;
    padding-left: 50px;
    float: right;
    width: 750px;
}
.form-control {
    height: 50px;
    border: 2px solid black;
    border-radius: px;
}
#cart {
    width: 360px;
    padding: 30px 30px 25px 30px;
    /* margin-right: -100px; */
}
#cart a{
    float: right;
    color: black;
    /* padding-right: 30px; */
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    
}
#cart a {
    background: white;
   
    border: 1px solid rgb(241, 237, 237);
    margin: 2px 5px 0px 5px;
    border-radius: 3px;
    
    /* border-right: 5px solid black;  */
}
#cart a:hover {
    transition: all .5s ease;
    color: white;
}
#navigation {
    padding: 0px 10px 10px 15px;
}
nav a {
    color: black;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 500;    
}
nav a:hover {
    color: gray;
    transition: all .5s ease;
    font-size: 14px;
}

.carousel-item img{
    height: 400px;
    width: 1350px;
}
#categories {
    width: 100%;
    /* margin: auto; */
}
#categoryheading {
    padding: 0px 10px 0px 10px;
    border: px solid black;
    border-left: 30px dashed orangered;
    border-right: 1050px dashed orangered;
    display: block;
    text-align: center;
    margin: 20px 33px 20px 33px;
    color: black;
    font-weight: bolder;

}
#categorybox {
    width: 94%;
    margin: auto;
    margin-bottom: 50px;
}
#categorybox img{
    border: 2px solid black;
    width: 250px;
    height: 300px;
    /* overflow: hidden;
    position: relative; */
}

